<header>
    <h1>Expense Tracker</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-expense">Add Expense</a></li>
            <li><a href="/expenses">Expenses</a></li>
        </ul>
    </nav>
</header>
