
  <%- include('partials/header') %>

  <h1 id="expenses-header">Expenses for <%= user.username %></h1>
  <ul id="expenses-list">
    <section>
      

  </ul>

  <a href="/add-expense" id="add-expense-btn">Add New Expense</a>

  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>

  <%- include('partials/footer') %>

